/* /Pages/Index.razor.rz.scp.css */
header[b-vka71e45wd] {
    padding-top: 7rem;
    padding-bottom: 6rem;
}

section[b-vka71e45wd] {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
/* /Shared/MainLayout.razor.rz.scp.css */
main[b-27vfr4lega] {
    height: 100%;
}
