@page "/"
@inject AuthService authService

<PageTitle>Memorize</PageTitle>

<style>
    .card {
        border-width: 2px;
    }
</style>

<header class="bg-primary bg-gradient text-white my-1">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Добро пожаловать в Memorize!</h1>
        <p class="lead">Улучшайте свою память и расширяйте свои знания</p>
        <a class="btn btn-lg btn-light" @onclick="Redirect">Приступим</a>
    </div>
</header>
<section id="about">
    <div class="container-xxl px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Обучение стало проще</h2>
                <p class="lead">Здесь вы можете создавать и изучать свои собственные флеш-карточки, чтобы эффективно
                    запоминать новые слова, термины и концепции. Наш сайт предлагает удобный и интерактивный способ
                    изучения, который поможет вам улучшить вашу память и расширить свои знания.</p>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 mb-3">
                            <div class="card bg-light mb-3 h-100 mx-auto" style="max-width: 18rem;">
                                <div class="card-body">
                                    <div class="container-fluid h-100 d-flex justify-content-center">
                                        <div class="row">
                                            <div class="col text-center"><h3>Режимы</h3></div>
                                            <div class="w-100"></div>
                                            <div class="col text-center"><i class="bi bi-card-checklist h1" style="color:royalblue"></i></div>
                                            <div class="w-100"></div>
                                            <div class="col text-center"><p>Несколько режимов для повторения внесут разнообразия</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 mb-3">
                            <div class="card bg-light mb-3 h-100 mx-auto" style="max-width: 18rem;">
                                <div class="card-body">
                                    <div class="container-fluid h-100 d-flex justify-content-center">
                                        <div class="row">
                                            <div class="col text-center"><h3>Интервалы</h3></div>
                                            <div class="w-100"></div>
                                            <div class="col text-center"><i class="bi bi-clock h1" style="color:mediumslateblue"></i></div>
                                            <div class="w-100"></div>
                                            <div class="col text-center"><p>Интервальные повторения для более глубокого усвоения</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 mb-3">
                            <div class="card bg-light mb-3 h-100 mx-auto" style="max-width: 18rem;">
                                <div class="card-body">
                                    <div class="container-fluid h-100 d-flex justify-content-center">
                                        <div class="row">
                                            <div class="col text-center"><h3>Сообщество</h3></div>
                                            <div class="w-100"></div>
                                            <div class="col text-center"><i class="bi bi-people h1" style="color:orchid"></i></div>
                                            <div class="w-100"></div>
                                            <div class="col text-center"><p>Обменивайтесь с другими пользователями своими наработками</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light" id="services">
    <div class="container-xxl px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Интерактивность</h2>
                <p class="lead">Увеличьте свои знания с нашей помощью! Создайте свои собственные флеш-карты или используйте
                    готовые колоды, чтобы улучшить свои навыки языка, истории, науки и многое другое.</p>
            </div>
        </div>
    </div>
</section>
<footer class="py-5 bg-dark">
    <div class="container px-4">
        <p class="m-0 text-center text-white">Copyright © Memorize 2024</p>
    </div>
</footer>

@code {
    [Inject]

    public NavigationManager? NavigationManager { get; private set; }

    protected async Task Redirect()
    {
        var user = await authService.GetCurrentUser();
        if (user != null)
        {
            NavigationManager.NavigateTo($"/{user.Login}/library");
        }
        else
        {
            NavigationManager.NavigateTo($"/auth");
        }
    }
}

