@page "/profile"
@page "/{username}/profile"
@using System.Security.Claims;
@inject LoginService loginService;
@inject UserService userService;

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <img src="https://via.placeholder.com/150" class="rounded-circle mb-4" alt="Avatar">
                    <h4 class="card-title">@Login</h4>
                    <p class="card-text">@UserEmail</p>
                    <p class="card-text">Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Username { get; set; }

    [Inject]
    public NavigationManager? NavigationManager { get; private set; }

    public string UserEmail { get; set; } = string.Empty;
    public string Login { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        User? user;
        if (Username == null) user = await loginService.GetCurrentUser();
        else user = await userService.GetUserByLogin(Username);
        UserEmail = user.Email;
        Login = user.Login;
    }

}
