<style>
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8f9fa;
    }

    .error-container {
        text-align: center;
    }

    .error-code {
        font-size: 16em;
        font-weight: bold;
        color: #405ee6;
    }

    .error-message {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
</style>

<div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="error-container">
        <div class="error-code">404</div>
        <div class="error-message">Страница не найдена</div>
        <a href="/" class="btn btn-primary">На главную</a>
    </div>
</div>

